@charset "utf-8";
body
{

}

header
{
	color:#000;
	
}


.main {
	
     
	   

		
 
     
text-align:justify;

}



aside{



     
    
   
text-align:center;

}

article{
	background-color:white;
         

	
       
}

footer
{
 color:white;
   
    font-size:20px;
	background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(49%, rgba(46,46,46,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    -moz-border-bottom-left-radius:0px;
    -moz-border-bottom-right-radius:5px;

    border-color:gray;
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
margin-top:5px;

	margin-bottom: 20px;
	
	padding: 20px;
	margin-top: 20px;    
}

.color1{


	color:white;
}

.color2{
	
		background-color:white;
}


.color3{
	
		background-color:white;
}

.color4{
	color:white;
background-color:white;
}

#header
{

	font-family:Tahoma, Geneva, sans-serif;
    color:white;
}

#article2
{
    border-radius: 20px;
    border-color:gray;
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
margin-top:5px;
float: left;
	margin-bottom: 20px;
	
	padding: 20px;
	margin-top: 20px;     
}



#article4
{
    border-radius: 5px;
    border-color:gray;
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
margin-top:5px;
text-align:center;
	
}
    
#article5
{
    		
	margin-bottom: 5px;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	border: 1px;
    border-radius: 24px;
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#loguin{
   
    font-size:large;
    width:500px;
    height:200px;
    border-radius: 4px;
 
     -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#principal {
   
margin-left: 5px;
margin-right: 5px;
	margin-bottom: 2px;
	padding: 10px;
	margin-top: 2px;
	

}

#title
{
   
   
   
	color:#ffffff;
    background: rgba(98,125,77,1);
background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(31,59,8,1)));
background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1 );
	text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    
    border-top-left-radius:5px;
  
    text-align: center;
  
}

#titulo2 {
   border-bottom-left-radius:5px;
    
    border-top-left-radius:5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-align: center;
    margin:auto 0;
}


#titulo3 {
    margin-bottom: 2px;
    padding: 3px;
    margin-left: 5px;
	
    margin-right:5px;
   font-size:x-large; 
  
    
    box-shadow: 0 0 5px #888;
    text-align: center;
     
     border-bottom-right-radius: 5px;
     border-top-right-radius:5px;
   
}

#tex
{
    text-align:center;
    font-size:large;
}

#menu
{
    margin-left: 5px;
margin-right: 5px;
	margin-bottom: 2px;
	padding: 10px;
	margin-top: 2px;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
color:blue;

    border-radius: 0 0 10px 10px;
}

#menu a
{
    color:blue;
    word-spacing: 0.25em;

}

#image
{
	margin-right:400px;
	bacground-color:white;
}

#login
{
	margin-right:300px;
	margin-left:300px;
	margin-top:100px;
    
	   background-color:white;
		
 
     -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
text-align:center;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
	
}

#logo
{
	margin-left:950px;
}
#esquina1
{
	color:white;
}

#datos
{
	margin:0 auto;
}
#body2
{
	background-color:#CCC;
	
}

#a:hover{
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    cursor:pointer;
}
.panel {
	
    background-size:90% 90%;
	
	color:black;
    
	display:none;
	
	font-size:16px;
}
.panel p{
    text-align:center;
    color:black;
}
.desliza {
	margin: 0 auto;
	padding:0;
	color:black;
}
.tirar {
	
  
	margin-left:10px;
    font-size:20px;
	color:#ffffff;
     
	
text-align:center;

  
}
.tirar p {
    text-align:center;
}


#opcion {

	font-size:large;
	border-left:thin;
	border-right:thin;
}


.carousel-caption {
    margin:0 auto;
      
    }
    .carousel-inner>.item>img, .carousel-inner>.item>a>img
    {
        margin:0 auto;
        height:300px;
        width:900px;
    }

    
    #social {
    
text-align:right;

    
        
    }
    
    #secundario {
     color:white;
   margin-bottom: 2px;
    padding: 3px;
    margin-left: 5px;
	
    margin-right:5px;
   font-size:large; 
  
    font-size:20px;
	background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(49%, rgba(46,46,46,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    -moz-border-bottom-left-radius:0px;
    -moz-border-bottom-right-radius:5px;
    
    border-bottom-left-radius:10px;
     border-bottom-right-radius: 0px;
    border-top-right-radius:0px;
    border-top-left-radius:10px;
     -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
text-align:center;
font-size:x-large; 
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    }
    
    .container{
   
     
    }
    
    .navbar-custom {
  background-color: #578ac7;
  border-color: #3f79be;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#7da5d4), to(#578ac7));
  background-image: -webkit-linear-gradient(top, #7da5d4, 0%, #578ac7, 100%);
  background-image: -moz-linear-gradient(top, #7da5d4 0%, #578ac7 100%);
  background-image: linear-gradient(to bottom, #7da5d4 0%, #578ac7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7da5d4', endColorstr='#ff578ac7', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #3f79be;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #3f79be;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #3f79be;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3f79be), to(#6493cb));
  background-image: -webkit-linear-gradient(top, #3f79be, 0%, #6493cb, 100%);
  background-image: -moz-linear-gradient(top, #3f79be 0%, #6493cb 100%);
  background-image: linear-gradient(to bottom, #3f79be 0%, #6493cb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f79be', endColorstr='#ff6493cb', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #3f78bc;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #3f79be;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #3f79be;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}