<span style='color: #000'>100 frames</span>	<span style='color: #900'>5,632 KB</span>	<span style='color: #090'>241.13 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />